# Discord Bot Settings
DISCORD_TOKEN= (Required)
DISCORD_USER_ID= (Required)

# Aoede Settings
CACHE_DIR=(Optional) # default is cache
SPOTIFY_BOT_AUTOPLAY=(Optional) # default is false
SPOTIFY_DEVICE_NAME=(Optional) # default is Aoede
